version: "3.9"

services:
  nfofetch:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nfofetch
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      # 输出与浏览根目录（根据自己宿主机目录调整）
      - NFOFETCH_OUTPUT_ROOT=/data/output
      - NFOFETCH_BROWSE_ROOT=/data/media
      # javdb Cookie（在宿主机上配置真实值，避免写死在镜像中）
      - NFOFETCH_JAVDB_COOKIE="theme=auto; locale=zh; over18=1; list_mode=v; cf_clearance=Q7JWebG79o2mgPvKh221eHvwzqtMeIxyzxaqSWwCQfU-1770643654-1.2.1.1-0AVR23pIZ86tghek0MnXsYVpO0km7VG9MNmgMR005uAtT9sV_BFvRx4xU02_HDCJY6Y9XndneSccFgCWwKUGGxsTJrMEAM9PuWngGx15gBYyV9Y8v1vf2kmfXNFvLp4MeLW514RulCqkWuCV48TmLxd1h3jLTDjsG1N0rlwfIP_DKqM.P2tVKMxEfg38uG8UdvzT0wNNuYdLW3O5Q9PddwsfQ1WNq0dZG0NmrMSyfZE; _jdb_session=Pg8G6xJzriv4vEdO6Z4lJNOVVnA2imL5uvP9CtQtrArnLGGhCxU7EgnNbAD9dkfP91CtYxU0noNOTjjRxr45k4kOnE8aIjEe7ovJw%2B74bGS1EJ6ZCnY39K65XHetqtF5Iivb5M7FKGBcbwIkDRtlFj5fUEDlBllscjvlVPbIMSM6qlOK2ueGSbJjRHI6Gj1gllxs%2BBoa4xpBH3ezhCPlkUDHrSrlXsbE2u%2Bk0MqVoAxU4TrGdBrcxaoBuPKpAUsBYeFqGdRWPEtuX1STGfuRSegYKX%2BtsRROEh8GxMWyOzyVMpbLXlmJHwyIIvXEiAXmNvT5oQ339kZn%2FV54zG1ePRCMtZLeBfQ02qUKezr%2BMlNMEBeAT4pghOwhyCppsvm0mf4hlA3H7ySi9ec1AWmY8A3zhhQw14rHzNMYgRibdZiY%2FQd2u%2Fk6%2FDr1Hrj65QmDqqGxraU%2FIhYFETZxUH7T%2FfetqVZSaA%3D%3D--yLmMCJT73SfjWxSO--s3CSSzW3hVlcAB3i6XwRyg%3D%3D"
    volumes:
      # 挂载媒体库所在目录到容器内部，供浏览和写 NFO/图片
      - /mnt/dnas:/data/media
      # 挂载输出目录（可与媒体目录相同，也可单独指定）
      - /home/syaofox/Downloads/output:/data/output

